---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl } from 'src/i18n/utils';
import Base from 'src/layouts/Base.astro';

export const getStaticPaths = (async () => {
  const collections = await getCollection('news');

  return collections.map((c) => {
    const [lang, slug] = c.slug.split('/');

    return {
      params: { lang, slug },
      props: { content: c },
    };
  });
}) satisfies GetStaticPaths;

const lang = getLangFromUrl(Astro.url);
const { content } = Astro.props;
const { Content } = await content.render();
---

<Base lang={lang}>
  <a href={`/${lang}/news`}>Back</a>
  <h1>{content.data.title}</h1>
  <Content />
</Base>
