---
import { fade, slide, ViewTransitions } from 'astro:transitions';
import CommonHead from '../../components/CommonHead.astro';
import './style.css';
import NoTransitionNav from '../../components/NoTransitionNav.astro';
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <CommonHead />
    <ViewTransitions />
  </head>
  <body>
    <NoTransitionNav />
    <main transition:animate={fade({ duration: '1s' })}>
      <h1>테스트</h1>
      <img
        transition:animate={slide({ duration: '1s' })}
        src="https://media1.tenor.com/m/9g64w3n4EuYAAAAd/mayu-uozumi-mayu.gif"
        alt="dd"
      />
    </main>
  </body>
</html>
