{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@nestjs", "<THIRD_PARTY_MODULES>", "^@", "^[./]"],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy",
    "classProperties"
  ]
}
