---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const url = Astro.url;
const lang = getLangFromUrl(url);
const translatePath = useTranslatedPath(lang);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath(url.pathname, lang)}>{label}</a>
      </li>
    ))
  }
</ul>
