* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(37, 28, 54);
}

.box {
  position: relative;
  width: 320px;
  height: 200px;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.box::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 200%;
  background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
  animation: rotateBg 4s linear infinite;
}

@keyframes rotateBg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: rgb(37, 28, 54);
}

.box__text {
  color: #fff;
  font-size: 5rem;
  z-index: 1;
}
