body {
  padding: 50px;
}

.container {
  display: grid;
  grid-template:
    'header header .' 100px
    'main main aside' 100px
    'footer footer footer' 100px
    / 1fr 1fr 1fr;

  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);

  grid-template-areas:
    'header header .'
    'main main aside'
    'footer footer footer'; */

  gap: 10px;
}

.container > * {
  display: grid;
  place-items: center;
  border: 3px solid #282b2e;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 600;
}

.item:nth-child(1) {
  /* 
    grid-row-start: 1;
    grid-row-end: 4;
    end를 생략하면 1칸
  */
  grid-row: span 3;
  background-color: #ff8868;
}

.item:nth-child(2) {
  /*
    grid-column-start: 2;
    grid-column-end: 4;
    end를 생략하면 1칸
  */
  grid-column: 2 / span 2;
  background-color: #ffb436;
}

.item:nth-child(3) {
  background-color: #53d163;
  grid-column: span 2;
}

.item:nth-child(4) {
  background-color: #0faeff;
}
