---
import { getCollection } from 'astro:content';
import Fuse from 'fuse.js';
import Header from '../../components/Header/_Header.astro';
import Search from '../../components/Search';
import { GET } from '../search.json';

const query = Astro.url.searchParams.get('q');
const allStoryList = await getCollection('story');

const mappedList = allStoryList.map((story) => ({
  slug: story.slug,
  ...story.data,
}));

const fuse = new Fuse(mappedList, {
  keys: ['title', 'summary', 'category'],
});

let dataList: {
  item: {
    slug: string;
    title: string;
    summary: string;
    thumbnail: {
      url: { src: string };
    };
    date: Date;
  };
}[] = [];

if (query) dataList = fuse.search(query);

const sortedDataList = dataList
  .map((data) => data.item)
  .sort((a, b) => b.date.valueOf() - a.date.valueOf());

// const response = await GET(Astro);
// const data = await response.json();
// console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main class="pt-[64px]">
      <div class="p-12">
        <Search datas={sortedDataList} client:load />
        <!-- <ul class="flex flex-wrap gap-6"> -->
        <!-- {
            sortedDataList.map((data) => (
              <li class="border rounded-md overflow-hidden shadow-md">
                <img
                  class="w-[300px] h-[200px] object-cover"
                  src={data.thumbnail.url.src}
                />
                <p class="py-4 text-center">{data.title}</p>
              </li>
            ))
          } -->
        <!-- </ul> -->
      </div>
    </main>
  </body>
</html>
