---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import BaseLayout from 'src/layouts/BaseLayout.astro';

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await entry.render();
---

<BaseLayout pageTitle="포스트">
  <h1>{entry.data.title}</h1>
  <Content />
</BaseLayout>
