---
import { getCollection } from 'astro:content';
import BaseLayout from 'src/layouts/BaseLayout.astro';

const blogEntries = await getCollection('blog');
---

<BaseLayout pageTitle="블로그">
  <div>
    <h3>블로그</h3>
    <ul>
      {
        blogEntries.map((blogPost) => (
          <li>
            <a href={blogPost.slug}>{blogPost.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
