@tailwind base;
@tailwind components;
@tailwind utilities;

.circular--landscape {
  width: 68px;
  height: 68px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
}

.circular--portrait {
  width: 68px;
  height: 68px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}