@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.l-container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 60px 14px 0;
}

.primary {
  width: 70%;
}

.video__video {
  width: 100%;
  object-fit: cover;
}

.video__header {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  border-bottom: 1px solid #d1d1d1;
}

.video__hash a {
  font-size: 12px;
  color: #065fd4;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
}

.video .metadata {
  margin: 12px 0;
}

.video .metadata__watch,
.video .metadata__date {
  font-size: 14px;
  color: #606060;
}

.video .metadata__watch::after {
  content: " ・";
}

.right-column {
  display: flex;
  align-items: flex-end;
}

.video__buttons {
  display: flex;
}

.video__button {
  background-color: transparent;
  padding: 14px;
  outline: none;
  border: none;
  cursor: pointer;
}

.video__button:nth-child(1),
.video__button:nth-child(2) {
  border-bottom: 2px solid black;
}

.video__button span {
  margin-left: 4px;
  font-size: 14px;
  color: #030303;
}

.channel {
  padding: 16px 0;
  border-bottom: 1px solid #d1d1d1;
}

.top-row {
  display: flex;
  align-items: center;
}

.channel__image {
  border-radius: 50%;
}

.channel__info {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.channel__author {
  color: #030303;
}

.channel__subscribe {
  font-size: 12px;
  line-height: 18px;
  color: #606060;
}

.top-row button {
  margin-left: auto;
  padding: 12px 26px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.is-red {
  background-color: #cc0000;
}

.upload-info {
  margin-top: 12px;
  margin-left: 60px;
}

.upload-info__description {
  font-size: 14px;
  color: #030303;
}

.upload-info__text {
  height: 60px;
  overflow: hidden;
}

.show-more {
  height: auto;
}

.more-btn {
  margin-top: 14px;
  border: none;
  background: transparent;
  color: #606060;
  cursor: pointer;
}

.secondary {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dismissible {
  display: flex;
  gap: 12px;
}

.dismissible__thumbnail-link {
  display: flex;
  position: relative;
  width: 180px;
  height: 100px;
}

.dismissible__thumbnail-image {
  width: 100%;
  object-fit: cover;
}

.dismissible__thumbnail-bar {
  position: absolute;
  bottom: 0px;
  width: 180px;
  height: 3px;
  background-color: #949494;
}

.dismissible__thumbnail-gauge {
  position: absolute;
  bottom: 0px;
  width: 120px;
  height: 3px;
  background-color: red;
}

.dismissible__details {
  margin-top: 8px;
  width: 220px;
}

.dismissible__details-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
}

.dismissible__details .metadata {
  color: #606060;
  font-size: 13px;
}

.dismissible__details .metadata:first-child {
  margin: 6px 0;
}
