* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  overflow: hidden;
}

.slider__list {
  display: flex;
  transform: translateX(0px);
}

.slider__item {
  width: 100%;
  flex-shrink: 0;
}

.slider__item:nth-child(1) {
  background: #ff997a;
}

.slider__item:nth-child(2) {
  background: #303030;
}

.slider__item.clone-first {
  background: #303030;
}

.slider__item.clone-last {
  background: #ff997a;
}

.slider__banner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

.slider__buttons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 0.2em;
}

.slider__button {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 50%;
  cursor: pointer;
}

.slider__button--active {
  background-color: #444;
}
