* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: center/cover url("bg.jpg") no-repeat;
  display: grid;
  place-items: center;
}

.c-card {
  width: 340px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.c-card__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: rgb(48, 69, 99);
  padding: 36px 0;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

.c-card__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  background-size: 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.c-card__name {
  font-size: 1.6em;
  font-weight: 700;
}

.c-card__job {
  color: #fff;
  font-weight: 500;
}

.c-card__icons {
  display: flex;
  gap: 16px;
  font-size: 1.4em;
}

.c-card__icons i {
  cursor: pointer;
  transition: color 0.3s ease;
}

.c-card__icons i:hover {
  color: #ef7c8e;
}

.c-card__button {
  width: 200px;
  margin-top: 12px;
  padding: 12px;
  background-color: transparent;
  border: 3px solid #ef7c8e;
  border-radius: 5px;
  color: #ef7c8e;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease;
}

.c-card__button:hover {
  color: white;
  background-color: #ef7c8e;
}

.c-card__footer {
  width: 100%;
  padding: 36px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.c-card__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex 1 --> grow */
  flex: 1;
  text-transform: uppercase;
}

.c-card__number {
  font-size: 1.4em;
  font-weight: 500;
}

.c-card__text {
  font-size: 0.9em;
  color: #ef7c8e;
}

.divider {
  width: 1px;
  height: 30px;
  background: #bbb;
}
