* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: center/cover url('../images/bg.jpg') no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 330px;
  z-index: 1;
}

input[type='checkbox'] {
  display: none;
}

.menu-btn {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 45px;
  width: 45px;
  z-index: 999;
  color: #f2f2f2;
  background: #4a4a4a;
  border: 1px solid #333;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  transition: all 0.3s ease;
}

#btn:checked ~ .menu-btn {
  left: 247px;
}

#btn:checked ~ .menu-btn i::before {
  content: '\f00d';
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 270px;
  background: #404040;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}

#btn:checked ~ .sidebar {
  left: 0;
}

.sidebar__title {
  color: #f2f2f2;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  background: #333;
  text-align: center;
}

.sidebar__list {
  position: relative;
  background: #404040;
  height: 100%;
  width: 100%;
  list-style: none;
}

.sidebar__list li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

.sidebar__list li:hover {
  box-shadow: 0 0 10px 3px #222;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.sidebar__list li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

.sidebar__list li a i {
  margin-right: 20px;
}

.sidebar__icons {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__icons a {
  margin: 0 5px;
  color: #f2f2f2;
  display: block;
  height: 40px;
  width: 40px;
  background: #4a4a4a;
  border: 1px solid #383838;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease;
}

.sidebar__icons a:hover {
  background: #404040;
}
