---
import { languages } from 'src/i18n/ui';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'languagePicker');

const [, currentPath] = Astro.url.pathname.split(lang);
---

<div>
  <p>{t('title')}</p>
  <ul>
    {
      Object.entries(languages).map(([k, v]) => (
        <li>
          <a href={`/${k}${currentPath}`}>{v}</a>
        </li>
      ))
    }
  </ul>
</div>
