---
import LanguagePicker from '@components/LanguagePicker.astro';
import Navigation from '@components/Navigation.astro';

type Props = {
  lang: string;
};

const { lang } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <LanguagePicker />
    </footer>
  </body>
</html>
