.container {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.ico_heart {
  fill: var(--red);
  width: 60px;
  height: 60px;

  animation: heart 1.2s linear infinite;
}

@keyframes heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  38% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
