@import '../../scss/variable.scss';

.wrap_modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  z-index: $modal-zindex;

  .wrap_body {
    width: 320px;

    .wrap_content {
      padding: 18px;

      .txt_title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 18px;
      }
    }

    .wrap_buttons {
      display: flex;

      button {
        flex: 1;
        font-size: 17px;
        font-weight: bold;
        padding: 15px 20px;
        cursor: pointer;

        &:nth-child(1) {
          background-color: var(--beige);
        }

        &:nth-child(2) {
          background-color: var(--black);
          color: #fff;
        }
      }
    }
  }
}
