* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(37deg, #ffa8d8, #e6676e);
}

.wrapper {
  position: relative;
  width: 320px;
  height: 400px;
}

.cards {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.5s ease;
}

.cards:hover {
  transform: rotateY(180deg);
}

.front-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fff;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.front-face img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.back-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  transform: rotateY(180deg);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.back-face img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(37deg, #ffa8d8, #e6676e);
  border-radius: 5px;
}

.back-face__info {
  font-size: 1.6rem;
}

.back-face__title {
  text-align: center;
  line-height: 1.6rem;
}

.back-face ul {
  display: flex;
}

.back-face ul a {
  display: flex;
  height: 40px;
  width: 40px;
  background: linear-gradient(37deg, #ffa8d8, #e6676e);
  border: 2px solid transparent;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 50%;
  color: #fff;
}

.back-face ul a:hover {
  background: none;
  color: #ffa8d8;
  border-color: #ffa8d8;
}

/*

html,
body {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
  background: linear-gradient(37deg, #ffa8d8, #e6676e);
}

.wrapper {
  height: 400px;
  width: 320px;
  position: relative;
}

.wrapper .card {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.wrapper:hover {
  transform: rotateY(180deg);
}

.wrapper .front-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.wrapper .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wrapper .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.wrapper:hover > .back-face {
}

.wrapper .back-face img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(37deg, #ffa8d8, #e6676e);
}

.wrapper .back-face .info {
  text-align: center;
}

.back-face .info .title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.back-face .info .text {
  line-height: 1.8rem;
}

.back-face ul {
  display: flex;
}

.back-face ul a {
  display: flex;
  height: 40px;
  width: 40px;
  background: linear-gradient(37deg, #ffa8d8, #e6676e);
  border: 2px solid transparent;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 50%;
  color: #fff;
}

.back-face ul a:hover {
  background: none;
  color: #ffa8d8;
  border-color: #ffa8d8;
} */
