.TodoTemplate {
  width: 512px;
  margin: {
    left: auto;
    right: auto;
    top: 6rem;
  }
  border-radius: 4px;
  overflow: hidden;

  .app-title {
    background: #22b8cf;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: white;
  }
}
