* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #ac53ec;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #ac53ec;
  border-radius: 40px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15), inset -5px -5px 15px rgba(255, 255, 255, 0.15), 5px 5px 15px rgba(0, 0, 0, 0.15), -5px -5px 15px rgba(255, 255, 255, 0.15);
}

.card::before {
  content: "";
  position: absolute;
  /* top, right, bottom, left를 축약한 표현 */
  inset: 5px;
  background-color: #fff;
  border-radius: 35px;
  transition: 0.5s;
}

.card:hover::before {
  transform: translate(40px, -40px);
  box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.25);
}
