---
import { Image } from 'astro:assets';
import mainImage from '../../assets/main.png';
---

<div class="w-full relative h-[70vh]">
  <Image src={mainImage} alt="테스트" />
  <div class="absolute bg-black/50 inset-0"></div>
</div>
