@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs__title h2 {
  color: #fff;
  font-weight: 500;
}

.contacts {
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  gap: 20px;
}

.contact {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact h3 {
  color: #0e3959;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* Form */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #18b7ff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox :is(input, textarea) {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
}

.inputBox textarea {
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background-color: #ff578b;
  color: #fff;
  border: none;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder {
  color: #999;
}

/* Info */
.info {
  background: #0e3959;
}

.info h3 {
  color: #fff;
}

.infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #18b7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.infoBox div p {
  color: #fff;
  font-size: 1.1em;
}

.infoBox div a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  font-size: 2em;
  color: #ccc;
}

.sci li a:hover {
  color: #fff;
}

/* Map */
.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* Responsive */
@media screen and (max-width: 991px) {
  body {
    background: #03a9f5;
  }

  .contactUs {
    padding: 20px;
  }

  .contacts {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
    gap: 20px;
  }

  .map {
    min-height: 300px;
  }

  .formBox .row50 {
    flex-direction: column;
  }

  .formBox .row50 .inputBox {
    width: 100%;
  }
}
