body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

#root {
  min-height: 100%;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
