.wrap_contact {
  display: flex;
  padding: 8px;

  .wrap_contact_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1.3;
  }

  .wrap_buttons {
    .button {
      width: 52px;
      height: 24px;
      border: 1px solid var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: #fff;
      font-weight: 400;
      margin-bottom: 6px;
      box-sizing: border-box;
    }
  }
}
