@import '../../scss/utils.scss';

.container {
  @include txt_content;

  .wrap_persons {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.4px;
    font-weight: bold;
    margin: 42px 0 8px;

    .ico_heart {
      fill: var(--red);
      width: 16px;
      height: 16px;
      margin: 0 6px;
    }
  }

  .ico_flower {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
  }

  .wrap_location {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
