---
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import '../../../styles/global.css';

export const getStaticPaths = async () => {
  const collections = await getCollection('newsletter');

  return collections.map((collection) => {
    const [lang, ...slug] = collection.slug.split('/');

    console.log({
      params: { lang, slug: slug.join('/') },
      props: collection,
    });
    return {
      params: { lang, slug: slug.join('/') },
      props: collection,
    };
  });
};

type Props = CollectionEntry<'newsletter'>;

const p = Astro.props;
const { Content, headings } = await p.render();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Content />
  </body>
</html>
