.modal {
  width: 18.75rem;
  height: 12.5rem;

  z-index: 999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: gray;
  border: 1px solid black;
  border-radius: 0.5rem;

  .close {
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
  }
}
