/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  background: #eeeeee;
}

.player {
  position: relative;
  width: 330px;
  height: 760px;
  padding: 1.5rem;
  padding-bottom: 4.5rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.intro {
  padding-top: 1.5rem;
  text-align: center;
}

.intro__image {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 5px 20px #ca7683;
}

.intro__artist {
  padding-top: 2rem;
}

.intro__genre {
  padding-top: 0.4rem;
  display: block;
  color: #a7a7a7;
}

.intro__buttons {
  padding-top: 2rem;
}

.musics {
  padding-top: 2rem;
}

.music {
  margin-bottom: 0.3rem;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
}

.music.active {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.music__thumbnail {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 0.3rem;
  overflow: hidden;
}

.music__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music__info {
  flex: 1;
}

.music__artist {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 0.8rem;
  color: #a7a7a7;
}

.playbar {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  width: calc(100% - 2rem);
  height: 60px;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #191919;
  border-radius: 3rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
}

.playbar__artist {
  margin-bottom: 0.3rem;
  display: block;
  color: #a7a7a7;
  font-size: 0.8rem;
}

.playbar__title {
  color: #fff;
  font-size: 0.9rem;
}

.playbar__buttons {
  display: flex;
  gap: 1rem;
}

.playing {
  padding-top: 6rem;
  text-align: center;
}

.playing__image {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px #037a8a;
}

.playing__title {
  padding-top: 4rem;
  margin-bottom: 0.3rem;
}

.playing__artist {
  color: #a7a7a7;
  font-size: 0.9rem;
}

.playing__timer {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.playing__time {
  color: #a7a7a7;
  font-size: 0.8rem;
}

.playing__guage {
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 0.5rem;
  background: #d0d0d0;
  border-radius: 1rem;
}

.playing__guage-inner {
  position: absolute;
  width: 60%;
  height: 100%;
  background: #191919;
}
.playing__guage-inner::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background: #191919;
  top: -2px;
  right: 0;
  border-radius: 50%;
}

.playing__buttons {
  padding-top: 6rem;
  display: flex;
  justify-content: space-evenly;
}

/* Buttons */
.btn-behind,
.btn-search,
.btn-detail {
  font-size: 1.1rem;
}

.btn-shuffle.normal {
  width: 120px;
  height: 45px;
  margin-right: 0.5rem;
  color: rgb(182, 182, 182);
  background: #191919;
  border-radius: 1.5rem;
}

.btn-like.normal {
  width: 120px;
  height: 45px;
  color: #acacac;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
}

.btn-like i {
  margin-right: 0.5rem;
  color: #191919;
  font-size: 1.1rem;
}

.btn-stepback,
.btn-pause,
.btn-stepforward {
  color: #fff;
}

.btn-stepback,
.btn-stepforward {
  font-size: 0.8rem;
}

.btn-pause {
  font-size: 1.2rem;
}

.btn-pause i {
  padding-top: 0.2rem;
}

.playing__buttons :is(.btn-loop, .btn-shuffle) {
  font-size: 0.9rem;
  color: #a7a7a7;
}

.playing__buttons :is(.btn-stepback, .btn-stepforward) {
  font-size: 1.2rem;
  color: #191919;
}

.btn-play {
  width: 50px;
  height: 50px;
  font-size: 1.1rem;
  color: #fff;
  background: #191919;
  border-radius: 50%;
  box-shadow: 0px 5px 20px #037a8a;
}

.btn-play i {
  padding-top: 0.1rem;
  padding-left: 0.2rem;
}
