.GithubProfileInfo {
  width: 400px;
  margin: 0 auto;

  .profile-head {
    display: flex;
    align-items: center;

    img {
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 32px;
      margin-right: 1rem;
    }

    .name {
      font-weight: bold;
    }
  }
}
