* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  background: #594d46;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
