---
import '../styles/global.css';

const pageTitle = '소개';

const identity = {
  name: 'Lucid',
  country: '대한민국',
};

const skills = ['HTML', 'CSS', 'JavaScript', 'Astro'];

const testStyle = 'bold';
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <style define:vars={{ testStyle }}>
      .skill {
        color: green;
        font-weight: var(--testStyle);
      }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>

    <ul>
      <li>My name is {identity.name}</li>
      <li>I live in {identity.country}</li>
    </ul>

    <p>My skills are:</p>

    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</html>
