---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await getCollection('posts');
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Astro Learning Blog</h2>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
