---
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <BaseLayout pageTitle="블로그">블로그</BaseLayout>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </body>
</html>
