---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = '홈 페이지';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:idle messages={['안녕', '안녕하세요', '반갑습니다']} />
</BaseLayout>
