---
import { Image } from 'astro:assets';
import Header from '../components/Header.astro';
import { getCollection } from 'astro:content';

const allStories = await getCollection('story');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main class="h-[200vh] pt-[64px]">
      <!-- <div class="relative">
        <img src="./main.png" alt="ㅇㅇ" />
        <div class="absolute inset-0 bg-black/50"></div>
      </div> -->
      <input
        id="search"
        type="text"
        placeholder="검색"
        class="m-4 border py-3 px-4 w-[244px]"
      />
    </main>
  </body>
</html>

<script>
  const search = document.getElementById('search');
  search?.addEventListener('keydown', (e) => {
    if (e.key === 'Enter') {
      location.assign(`/search?q=${(e.target as HTMLInputElement).value}`);
    }
  });
</script>
