---
type Props = {};

const {} = Astro.props;

console.log('hizzz');
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="geneator" content={Astro.generator} />
  </head>
  <body>
    <h1>Hello, World!ㅎㅇ</h1>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
</style>
