* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.navigation {
  position: relative;
  width: 350px; /* 70 x 5 */
  height: 70px;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* height: 100%; */
}

.navigation ul li a .icon {
  position: relative;
  line-height: 75px;
  transition: 0.5s;
  font-size: 30px;
}

.navigation ul li.active a .icon {
  font-size: 20px;
  transform: translateY(-6px);
}

.navigation ul li a .text {
  position: absolute;
  font-size: 12px;
  bottom: 20px;
  font-weight: 400;
  transition: 0.25s;
  text-transform: uppercase;
  transform: scale(0);
}

.navigation ul li.active a .text {
  transform: scale(1);
}

.indicator {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 10px;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  background-color: #f53b57;
  box-shadow: 0 15px 25px #f53b57;
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  background-color: #5d62fb;
  box-shadow: 0 15px 25px #5d62fb;
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  background-color: #05c46b;
  box-shadow: 0 15px 25px #05c46b;
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  background-color: #0fbcf9;
  box-shadow: 0 15px 25px #0fbcf9;
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  background-color: #ffa801;
  box-shadow: 0 15px 25px #ffa801;
  transform: translateX(calc(70px * 4));
}
