---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import LanguagePicker from '../components/LanguagePicker.astro';
import { getLangFromUrl } from '../i18n/utils';
import '../styles/global.css';

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <LanguagePicker />

    <script>
      import '../scripts/menu';
    </script>
  </body>
</html>
