---
import 'prism-themes/themes/prism-one-dark.min.css';
import Header from '../components/Header.astro';
import '../styles/global.css';

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
