* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e1538;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 40px;
  transition: 1s;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

a:hover {
  background-color: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 60px var(--clr), 0 0 100px var(--clr);
}

a::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 400%;
  background-color: var(--clr);
  transition: 1s;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.33s * var(--i));
}

a:hover::before {
  width: 100%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: #0e1538;
  transition: 0.5s;
}

a:hover::after {
  background-color: var(--clr);
}

a span {
  z-index: 1;
  font-size: 2em;
  color: #fff;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
}

a:hover span {
  opacity: 1;
}
