* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: center/cover url("bg.png") no-repeat;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.image,
.accordian-menu {
  width: calc(50% - 20px);
}

.image {
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 1);
}

.title {
  background-color: #8967e7;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  position: relative;
  width: 14px;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 3px;
  background-color: #fff;
}

.icon::after {
  transform: rotate(90deg);
  transition: 0.3s linear;
}

.text {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 6px 0;
  line-height: 26px;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.item:target .icon::after {
  transform: rotate(0);
}

.item:target .text {
  opacity: 1;
  height: auto;
  margin: 12px 0;
  padding: 20px;
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 600px;
  }

  .image,
  .accordian-menu {
    margin: 20px 0;
    width: 100%;
  }
}
