/* 어차피 고유해질 것이므로 흔한 이름으로 지어도 됨 */
.wrapper {
  background-color: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

.inverted {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* 글로벌하게 사용하고 싶다면 :global로 사용 */
:global .something {
  font-weight: 800;
  color: aqua;
}
