@import './styles/utils';

.SassComponent {
  display: flex;
  // .SassComponent .box
  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;

    // .red가 .box와 함께 사용 (& = 부모 치환)
    &.red {
      background: $red;
      @include square(1);
    }
    &.orange {
      background: $orange;
      @include square(2);
    }
    &.yellow {
      background: $yellow;
      @include square(3);
    }
    &.green {
      background: $green;
      @include square(4);
    }
    &.blue {
      background: $blue;
      @include square(5);
    }
    &.indigo {
      background: $indigo;
      @include square(6);
    }
    &.violet {
      background: $violet;
      @include square(7);
    }
    &:hover {
      background: black;
    }
  }
}
